page-revista-pl {
  .slide-card{
      border: 0px;
      width: 100%;
      margin: 0px;
      padding: 0px;
      width: 100%;
      background: transparent;
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
      -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
  }
  .slide-card .slide-card-chamadas{
      border-bottom: 2px solid #bb9b6a;
      width: 100%;
  }
  .slide-card .slide-card-titulo-chamadas{
    color:#000;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato';  
  }
  .slide-card .titulos-card-titulo{
      color:#000;
      font-weight: bold;
      font-size: 20px;
      font-family: 'Lato';      
  
  }   
  .slide-card-li{
    width: 33%; 
    padding:1%;

}   
.slide-card-li-fundo{
    background: url(../assets/imgs/box.jpg) center center repeat;
    width:100%;
    min-height: 100px;
}     
.slide-card-li-img{

    width:100%;

}   
  .card-back{
      position: relative;
      text-align:  center;
      border: 0px;
      width: 100%;
      margin: 0px;
      padding: 0px;
      width: 100%;
      background: transparent;
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
      -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);        
  }
  
  .titulo-card-back{
    position: absolute;
    top: 55px;
    font-size: 25px;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);   
    font-family: 'Lato';      
    text-transform: uppercase;
}
.subtitulo-card-back{
    font-size: 18px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);    
    font-family: 'Lato';  
}
}

