page-planos {
  .login-content{
    background: url(../assets/imgs/background-app.png) no-repeat center center;
    background-size: cover;
  }
  .login-card{
    border-radius: 6px;
    margin: 20px 20px 0px 20px;
    height: 93%;
    background: #fff;
  }
  .toolbar-background{
    background: #fff;
  }
  .titulo{
    color: #3e88b5;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    font-family: 'Lato';  
  } 
  .fundo{
    background: url(../assets/imgs/background.jpg) no-repeat top center;
    background-size: cover;
  }
  .caixa{
    width: 100%;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    border-bottom: 5px solid #fff;
  }
  .titulo-plano{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    font-family: 'Lato'; 
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
  }
  .subtitulo-plano{
    color: #fff;
    text-align: center;
    font-family: 'Lato';   
    font-size: 12px;   
    padding: 10px 0px 0px 0px;
    margin: 0px;
  }
  .preco-plano{
    color: #fff;
    text-align: center;
    font-family: 'Lato';     
    padding: 0px;
    margin: 0px;
  }
  .bt-fecha-modal{
    position: absolute;
    top: -3px;
    width: 10%;
    color:#000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lato'; 
    text-transform: uppercase; 
    background: transparent;
    border: 0px;
    border-radius: 0px;
  }
  .bt-fecha-modal:hover{
    color:#000;
    background: transparent;
    border: 0px;
    border-radius: 0px;
  }  
  
}