page-privacidade {
    .cont{
        color: #bdbbbb;
        float: left;        
        margin-right: 3px;
        font-size: 15px;
    }
    .conteudo{
        width: 100%;
        font-size: 15px;
        float: left;
        color: #5bafe5;
        text-decoration: underline;
        margin-bottom: 5px;
        font-family: 'Lato';  
    }    
}
