page-privacidade-ver {
    .conteudo{
        width: 100%;
        font-size: 21px;
        float: left;
        color: #5a5959;
        margin-bottom: 15px;
        font-weight: bold;
        font-family: 'Lato';          
    } 
    .descricao{
        width: 100%;
        font-size: 15px;
        float: left;
        color: #5a5959;
    }     
}
