page-pagamento-entrega {
  .login-content{
    background: url(../assets/imgs/background-app.png) no-repeat center center;
    background-size: cover;
  }
  .login-card{
    border-radius: 6px;
    margin: 20px;
    height: 93%;
    background: #fff;
  }
  .toolbar-background{
    background: #fff;
  }
  .titulo{
    color: #3e88b5;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    font-family: 'Lato';  
  } 
  .fundo{
    padding: 10px;
  }
  .caixa{
    width: 100%;
    padding: 20px;
    border: 1px solid #b7b7b7;
    border-radius:10px;
  }
  .caixa-input-link{
    border:0px;
    border-bottom: 1px solid #b7b7b7;
    padding: 0px;
    width: 100%;
    color: #373636;
    font-size: 18px;
    font-family: 'Lato';     
  }   
  .caixa-input{
    border:0px;
    border-bottom: 1px solid #b7b7b7;
    padding: 0px;
    width: 100%;
    color: #373636;
    font-size: 14px;
    font-family: 'Lato';     
  }  
  .caixa-input:hover{
    color:#3e88b5;
    border-bottom: 1px solid #3e88b5;
    background: #fdfdfd;
  }    
  .titulo-entrega{
    color: #c9c8c8;
    font-size: 16px;
    font-family: 'Lato'; 
    text-transform: uppercase;
    padding: 0px;
    margin: 0px 0px 10px 0px;
  }
  .subtitulo-entrega{
    color: #fff;
    text-align: center;
    font-family: 'Lato';     
    padding: 10px 0px 0px 0px;
    margin: 0px;
  }
  .login-btn-entrar{
    width: 100%;
    text-align: center;
  }
  .login-btn-entrar-button{
    border: 1px solid #216ba8;
    border-radius: 8px;
    background: #fff;
    padding: 10px;
    color:#216ba8;
    width: 100%;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);     
  }  
  .bt-fecha-modal{
    position: absolute;
    top: -3px;
    width: 10%;
    color:#000;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Lato'; 
    text-transform: uppercase; 
    background: transparent;
    border: 0px;
    border-radius: 0px;
  }
  .bt-fecha-modal:hover{
    color:#000;
    background: transparent;
    border: 0px;
    border-radius: 0px;
  }   
}