page-editar-minha-audio-ontoarte {
    .novidades-card{    
        border: 0px;
        width: 100%;
        margin: 0px;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);    
    }
    .titulo{
        color:#1d96d9;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;    
        font-family: 'Lato';     
        margin: 0px 0px 20px 0px;
    } 
    .subtitulo{
        color:#095ca0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;    
        font-family: 'Lato';     
        border-bottom: 1px solid #dcdcdc;
        padding: 0px 0px 10px 0px;
        margin: 0px 0px 10px 0px;        
    }        
    .meu-progeto-titulo{
        color:#aaa7a7;
        text-align: center;
        font-size: 18px;  
        font-family: 'Lato';    
        border: 0px;
        width: 100%;
        margin: 0px;      
    }
    .conteudo{
        color: #3a3939;
        font-size: 15px;  
        font-family: 'Lato';    
        margin: 0px 0px 10px 0px;   
    }
    .btn-fechar{
        position: absolute;
        top:12px;
        left:12px;
        color:#000;
        text-align: center;
        font-size: 17px;  
        font-family: 'Lato';    
        font-weight: bold;            
    }
    .btn-fechar-lista{
        float: right;
        color:red;
        font-size: 15px;  
        font-family: 'Lato';    
        font-weight: bold;        
    }
}
