page-verlivro {
    .box-icone-dicionario{
        position: absolute;
        right: 12px;
        width: 60px;
        height: 70px;
        background: #fff;
        border-radius: 0px 0px 8px 8px;
        z-index: 9999999999999999999999999999;
		-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.10);
		-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.10);
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.10);   
        border: 1px solid rgba(0,0,0,0.3);    
        text-align: center;  
        padding: 10px 0px 0px 0px;        
    } 
    .box-icone-dicionario img{
        max-width: 30px;
    }   
    .box-icone-dicionario p{
        margin: 2px 0px 0px 0px;
        padding: 0px;   
        font-size: 11px;
        color:#a9a9a9;
    }
}
