page-evento-info-ver {

	.card-back{
        position: relative;
        text-align:  center;
        border: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);        
    }
    .btn-novo{
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        border-bottom: 3px solid #fff;
        font-size: 20px;
        color:#707070;
        width: 50%;
        float: left;
        padding: 10px;
        text-align: center;
        font-family: 'Lato';     
        font-weight: bold;  
        font-size:15px;
    }
    .action_evento{
        color: #216ca9;
        border-bottom: 3px solid #216ca9;

    }
    .eventoTitulo{
        color:#616161;
        font-size: 22px;
        font-family: 'Lato';     
        font-weight: bold;  
    }
    .eventoTitulo{
        color:#616161;
        font-size: 18px;
        font-family: 'Lato';       
    }
    .card-eventos{
        position: relative;
        border: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    }
    .novidades-card{    
        border: 0px;
        width: 100%;
        margin: 0px;
        border-radius:0px;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0); 
    }
    .video-card-titulo{
        color:#000;
        font-weight: bold;
        font-size: 14px;
        font-family: 'Lato';  
    }
    .video-card-desc{
        color:#000;
        font-size: 12px;
        font-family: 'Lato';    
    } 
    .box-novidades{
        padding:0px; 
        min-height:180px; 
        background: url(../assets/imgs/box.jpg) center center repeat;
        margin-bottom:10px;
    }    
    .eventos-seta-img {
        width:70px;
        height:39px;
        margin: 0 auto;
    }
    .eventos-icones{
        width: 26px;
        height: 25px;
        margin-left: 5px;
        float: left; 
    }
    .eventos-texto-menor{
        color: #226da9;
        font-size: 16px;
        font-family: 'Lato';  
        padding: 2px 5px 5px 5px;
        float: left; 
    }
    .btn-inscreva-se{
        margin-top: 23px;
        width: 100%;
    }
}