<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start (click)="menu()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="header_logo" (click)="abrirPaginaHome()">
      <img src="assets/imgs/logo-small-menu.png">
    </div>
    <div class="header_aovivo" (click)="abrirPaginaAovivo()">
      <img src="assets/imgs/ico-ao-vivo-off.jpg">
    </div>
    <div class="header_users" (click)="abrirPaginaEventos()">
      <img src="assets/imgs/ico-calendario.jpg">
    </div>
    <div class="header_busca" (click)="abrirPaginaBusca()">
      <img src="assets/imgs/ico-busca.png">
    </div>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="novidades-card">
    <ion-card-content nopadding nomargin>
      <h2 class="eventoTitulo">{{ item.Titulo }}</h2> 
      <p class="eventoTexto" [innerHTML]="item.Descricao"></p>  
    </ion-card-content> 
    <ion-row nopadding nomargin style="margin: -10px 0px 20px 0px;">
      <ion-col col-12>
        <ion-row nopadding nomargin style="width: 100%;">
          <ion-col col-12>
            <img src="assets/imgs/eventos-ico-calendar.jpg" class="eventos-icones">
            <p class="eventos-texto-menor">{{ item.Data2 }}</p>
          </ion-col>
          <ion-col col-12 *ngIf="!!item.Endereco">   
            <img src="assets/imgs/eventos-ico-map.jpg" class="eventos-icones">
            <p class="eventos-texto-menor">{{ item.Endereco }}</p>
          </ion-col>
          <ion-col col-12 *ngIf="!!item.Bairro">         
            <img src="assets/imgs/eventos-ico-map.jpg" class="eventos-icones">
            <p class="eventos-texto-menor">Bairro {{ item.Bairro }}</p>
          </ion-col>
          <ion-col col-12 *ngIf="!!item.Cidade">       
            <img src="assets/imgs/eventos-ico-map.jpg" class="eventos-icones">                
            <p class="eventos-texto-menor">{{ item.Cidade }}</p>
          </ion-col>
          <ion-col col-12 *ngIf="!!item.Pais">      
            <img src="assets/imgs/eventos-ico-map.jpg" class="eventos-icones">            
            <p class="eventos-texto-menor">{{ item.Pais }}</p>
          </ion-col>
          <ion-col col-12 *ngIf="!!item.Cep">        
            <img src="assets/imgs/eventos-ico-map.jpg" class="eventos-icones">            
            <p class="eventos-texto-menor">CEP {{ item.Cep }}</p>
          </ion-col>              
          <ion-col col-12 *ngIf="!!item.Valor">   
            <img src="assets/imgs/eventos-ico-money.jpg" class="eventos-icones">
            <p class="eventos-texto-menor">{{ item.Valor }}</p>
          </ion-col>
        </ion-row>        
      </ion-col>
    </ion-row>
    
  </ion-card>
</ion-content>     
