page-pl-lista {
    .tituloGrande{
        padding:10px;
        font-size: 16px;
        color:#92918f;
        font-family: 'Lato';  
        text-align: center;
    }
    .titulo{
        margin: 5px 0px 0px 0px;
        font-weight: bold;
        padding: 0px;
        font-size: 10px;
        color:#4d4d4d;
    }
    .subtitulo{
        margin: 0px;
        padding: 0px;
        font-size: 10px;
        color:#4d4d4d;
    }
    .livros-card{
        border: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background: transparent;
        -webkit-box-shadow: 0px 0px 53px 18px rgba(0,0,0,0.28);
        -moz-box-shadow: 0px 0px 53px 18px rgba(0,0,0,0.28);
        box-shadow: 0px 0px 53px 18px rgba(0,0,0,0.28);        
        font-family: 'Lato';     
    }
    .livros-card .img-capa{
        padding-top:20px;
        padding-bottom:10px;
        max-width: 150px;
        text-align: center;
        margin: 0 auto;        
    } 
    .livros-card .detalhes{
        padding-bottom:15px;
        font-size: 15px;
        color: #757572; 
        text-align: center;    
        font-family: 'Lato';     
    }
    .livros-card .livros-card-btn-ler-mais{
        width: 200px;
        background: #bb9b6a;
        border-radius: 30px;
        color:#fff;
        text-align: center;  
        margin: 0 auto;  
        font-weight: bold; 
        padding: 12px; 
        font-family: 'Lato';     
    }
    .livros-card .desc{
        padding-top:15px;      
        font-size: 14px;
        color: #b1b1b1;   
        width: 100%;  
        font-family: 'Lato';     
    }
    .livros-card .leia-mais{        
        font-size: 14px;
        color: #bb9b6a;   
        width: 100%; 
        text-align: right;  
        text-decoration: underline;   
    }  
	.slide-card .slide-card-chamadas{
		border-bottom: 2px solid #bb9b6a;
	}
	.slide-card .slide-card-titulo-chamadas{
		color:#000;
		font-weight: bold;
		font-size: 16px;
        font-family: 'Lato';     
    }
	.slide-card{ 
		border: 0px;
		width: 100%;
		margin: 0px;
		padding: 0px;
		width: 100%;
		background: transparent;
		-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
		-moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);    
    }    

	.icone-livros-down{
		float: left;
		width: 20%;
        text-align: center;
        padding-bottom: 25px;
        margin: -10px 0;
    }
    .icone-livros-down p{
        color: #bf9c61;
        font-size: 10px;
        padding-top: 5px;
    }
    .icone-livros-down img{
        width: 40%;
        margin: 0 auto;
    }
	.icone-livros-down .ion-icone-livros-down{
		color:#bf9c61;
        font-size: 30px;   
        padding-bottom: 1px
    }
    
    .slide-card{
        border: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    }
    .slide-card .slide-card-chamadas{
        border-bottom: 2px solid #bb9b6a;
    }
    .slide-card .slide-card-titulo-chamadas{
        color:#000;
        font-weight: bold;
        font-size: 16px;
        font-family: 'Lato';
    }
    .slide-card .titulos-card-titulo{
        color:#000;
        font-weight: bold;
        font-size: 20px;
    
    }   
    .slide-card .slide-card-li{
        max-width: 33%;
        padding: 4px; 
    }      
    .card-back{
        position: relative;
        text-align:  center;
        border: 0px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        background: transparent;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        -moz-box-shadow: 0px 0px 0px 0px  rgba(0,0,0,0.0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);        
    }
    
    .titulo-card-back{
        position: absolute;
        top: 30%;
        font-size: 45px;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);   
    }
    
    .subtitulo-card-back{
        font-size: 18px;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);      
    } 
    .slide-card-li-video{
        max-width: 50%;
        padding: 4px; 
    }      
}
